Source: ros-rolling-image-transport-py
Section: misc
Priority: optional
Maintainer: Alejandro Hernández <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake-python, ros-rolling-ament-cmake-ros, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-image-transport, ros-rolling-pybind11-vendor, ros-rolling-rclcpp, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-image-transport-py
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-image-transport, ros-rolling-rclcpp, ros-rolling-rpyutils, ros-rolling-sensor-msgs, ros-rolling-ros-workspace
Description: Python API for image_transport
